.login-form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    row-gap: $grid-base;
    color: $color-black;

    .input {
        @extend .site-input;
    }

    .button {
        @extend .site-button;
    }

    .error-message {
        color: $color-brand-red;
        font-size: $font-size-small;
    }

    &.error {
        .input {
            border: 1px solid $color-brand-red;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .login-form {
    }
}

@media (min-width: $breakpoint-desktop) {
    .login-form {
        width: 240px;
    }
}