@import "variables";
@import "mixins";

// header.scss

// Common styles
.header-wrapper {
  // Common header styles
  background-color: purple;
  top: 0;
  z-index: 10;

  .header {
    top: 0;
    padding: 0 16px;
    @include content-size;
    display: flex;
    justify-content: space-between;

    .header-logo{
      padding: 16px 0;

      .header-logo-text{
        font-size: 24px;
        font-weight: bold;
        color: white;
        font-family: "Times New Roman", Times, serif;
      }
    }

    .header-login{
      display: flex;
      flex-direction: row;
    }
  }
}


.body {
  margin: 0;
}

// Mobile styles
@media screen and (max-width: $screenSize) {
  .header {
  }
}

// Desktop styles
@media screen and (min-width: $screenSize) {
  .header {
  }
}