.stocks {
    @extend .data-list;

    .stock {
        @extend .data-list-item;

        grid-template-columns: 1fr 6fr 4fr 1fr;
    }

    .stock_name,
    .stock_short_name {
        padding-left: 20%;
    }

    .price {
        text-align: right;
    }
}

