$breakpoint-mobile: 768px;
$breakpoint-desktop: $breakpoint-mobile + 1;

$grid-base: 16px;

$container-size-lg: 1200px;

$color-brand-darkblue: #061526;
$color-brand-lightblue: #00d8ff;
$color-brand-red: #ff0000;
$color-white: #fff;
$color-dark-white: #fafafa;
$color-black: #000;

$font-family-base: 'OpenSans', sans-serif;
$font-size-base: 16px;
$font-size-small: 12px;